@charset "UTF-8";

@use "../base";
@use "main";
/*common*/

html,
body {
    font-size: 62.5%;
    letter-spacing: 0;
    color: #333;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic",
        sans-serif;
}

a {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;

    &:hover {
        opacity: 0.7;
    }
}

.blue {
    color: #4285f4;
}

.white {
    color: #fff;
}

.bg_blue {
    background: #4285f4;
}

.bg {
    color: #f7f9fc;
}

img {
    width: 100%;
}

.flex {
    display: flex;
}

.flex-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aic {
    align-items: center;
}

.aife {
    align-items: flex-end;
}

.jcc {
    justify-content: center;
}

.jcsb {
    justify-content: space-between;
}

.jcfe {
    justify-content: flex-end;
}

.fdrl {
    flex-direction: row-reverse;
}

.fdrc {
    flex-direction: column;
}

.fww {
    flex-wrap: wrap;
}

.tal {
    text-align: left;
}

.wsn {
    white-space: nowrap;
}

.tac {
    text-align: center;
}

.tal {
    text-align: left;
}

.inner {
    margin: 0 auto;
    width: auto;
    max-width: 1045px;
    padding: 0;
}

/* @media (max-width: 767px){
  .inner{
    width: auto;
    padding: 0 2rem;
  }
}
main{overflow: hidden;}
@media screen and (min-width: 768px){
  .sp{display: none;}
}
@media screen and (max-width: 767px){
  html,body{font-size: calc(10 * (100vw / 750));}
  .pc{display: none;}
  .sp{display: block;}
}
@media screen and (min-width: 768px) and (max-width: 1240px){
  html,body{font-size: calc(10 * (100vw / 1240));}
} */

/* common text size */
/* p{
  font-size: 1.6rem;
  line-height: 2;
  letter-spacing: 0.02em;
}
span{
  font-size: 1.6rem;
  line-height: 2;
  letter-spacing: 0.02em;
}
h2{
  font-size: 1.6rem;
  letter-spacing: 0.02em;
}
.lead{
  font-size: 2.4rem;
  letter-spacing: 0.02em;
}
.txt{
  font-size: 1.8rem;
  letter-spacing: 0.02em;
} */

/* common animation ///////////////////////////////////////////////*/

.js-focus {
    opacity: 0;
}

.focus-in {
    animation: focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes focus-in {
    0% {
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

.js-u-fade {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.1s cubic-bezier(0.5, 1, 0.89, 1), transform 0.3s cubic-bezier(0.5, 1, 0.89, 1);
}

.js-r-fade {
    transform: translateX(60px);
    opacity: 0;
    transition: opacity 0.1s cubic-bezier(0.5, 1, 0.89, 1), transform 0.3s cubic-bezier(0.5, 1, 0.89, 1);
}

.js-l-fade {
    transform: translateX(-60px);
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.5, 1, 0.89, 1), transform 0.3s cubic-bezier(0.5, 1, 0.89, 1);
}

.fade-in {
    opacity: 1;
    transform: translate(0);
}

.js-spin {
    transform: rotateY(-450deg);
    transition-duration: 0.8s;
    will-change: transform;
    opacity: 0;

    &.spin {
        transform: rotateY(0deg);
        opacity: 1;
    }
}

@keyframes anm_coin {
    0% {
        transform: rotateY(-450deg);
        opacity: 0;
    }

    100% {
        transform: rotateY(0deg);
        opacity: 1;
    }
}

/* txt overflow animation */
/* js-m-txt wrapping to maskElem */

.js-m-txt {
    overflow: auto;

    .maskElem-y {
        transform: translateY(120%);
        display: block;
        font-size: inherit;
        color: inherit;
        line-height: inherit;
    }

    .maskElem-x {
        transform: translateX(-120%);
        display: block;
        font-size: inherit;
        color: inherit;
        line-height: inherit;
    }
}

@keyframes mask {
    100% {
        transform: translate(0);
    }
}

.mask.animated {

    .maskElement-y,
    .maskElement-x {
        animation: mask cubic-bezier(0.86, 0, 0.07, 1) forwards;
        animation-duration: 1.5s;
        overflow: hidden;
    }
}

/* images overflow animation */

.js-m-img {
    clip-path: inset(0 100% 0 0);

    /* display: inline-block; */
    transition: 1.5s 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    transition-property: clip-path;

    &.center {
        clip-path: inset(0 100% 100% 0);
    }

    &.animated {
        clip-path: inset(0);
    }
}

/* /////////////////////////////////////////////// */

/*/////////////////////////////////////header*/

header {
    &.hide {
        transform: translateY(-100%);
    }

    width: 100%;
}

.headerBox {
    position: fixed;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#global_nav ul {
    display: flex;
    margin-top: 2.5rem;

    li {
        a {
            font-weight: bold;
        }

        font-size: 1.8rem;
        padding: 1.2rem 1.5rem;

        &:last-of-type {
            margin-right: calc(180 * (100vw / 1920));
            position: relative;
        }

        &:not(last-of-type) {
            margin-right: calc(25 * (100vw / 1920));
        }
    }
}

@media screen and (max-width: 767px) {
    .gnavi {
        nav {
            position: fixed;
            top: 0;
            right: 0px;
            height: 100%;
            padding-top: 5rem;
            background: #1a6591;
            box-sizing: border-box;
            z-index: 10;
            width: 55rem;
        }

        position: fixed;
        top: 4rem;
        right: 3rem;
        width: 6rem;
        height: 4.8rem;
        z-index: 3;
        box-sizing: border-box;
        cursor: pointer;
        -webkit-transition: all 400ms;
        transition: all 400ms;

        .jsHumb {
            position: absolute;
            width: 6rem;
            height: 0.8rem;
            background: #fff;
            border-radius: 10px;
            -webkit-transition: all 400ms;
            transition: all 400ms;
            z-index: 300;

            &:nth-of-type(1) {
                top: 2%;
            }

            &:nth-of-type(2) {
                top: 40%;
            }

            &:nth-of-type(3) {
                top: 80%;
            }
        }

        &.open .jsHumb {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            top: 20%;
            background-color: #fff !important;

            &:nth-of-type(2) {
                display: none;
            }

            &:nth-of-type(3) {
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
            }
        }
    }

    #global_nav ul {
        display: block;

        li {
            margin-top: 10rem;
            margin-left: 2rem;
            width: auto;
            height: 4rem;
            display: block;

            &:last-of-type {
                background-color: transparent;
                overflow: unset;
            }
        }
    }
}