@charset "UTF-8";
/*reset css*/
body,
h1,
h2,
h3,
h4,
p,
ul,
li,
a,
dl,
dt,
dd,
table,
tr,
th,
td,
span {
  margin: 0;
  padding: 0;
  color: #333;
  text-decoration: none;
  list-style: none;
  line-height: 1;
  outline: none;
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  background-color: unset;
  border: none;
  outline: none;
  -webkit-appearance: none;
}

div,
section,
article,
figure,
picture {
  box-sizing: border-box;
  margin: 0;
  display: block;
  padding: 0;
}

a,
span {
  display: inline-block;
}

/*common*/
html,
body {
  font-size: 62.5%;
  letter-spacing: 0;
  color: #333;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
a:hover {
  opacity: 0.7;
}

.blue {
  color: #4285f4;
}

.white {
  color: #fff;
}

.bg-blue {
  background: #4285f4;
}

.white {
  color: #f7f9fc;
}

img {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.t-center {
  text-align: center;
}

.wsn {
  white-space: nowrap;
}

.jc-around {
  justify-content: space-around;
}
.jc-between {
  justify-content: space-between;
}
.jc-evenly {
  justify-content: space-evenly;
}
.jc-center {
  justify-content: center;
}
.jc-end {
  justify-content: flex-end;
}
.jc-start {
  justify-content: flex-start;
}
.jc-unset {
  justify-content: unset;
}

.ai-center {
  align-items: center;
}
.ai-end {
  align-items: flex-end;
}
.ai-start {
  align-items: flex-start;
}
.ai-unset {
  justify-content: unset;
}

@media (max-width: 1024px) {
  .tb__flex {
    display: flex;
  }
  .tb__flow-column {
    flex-flow: column;
  }
  .tb__flow-wrap {
    flex-flow: wrap;
  }
  .tb__order-1 {
    order: 1;
  }
  .tb__jc-around {
    justify-content: space-around;
  }
  .tb__jc-between {
    justify-content: space-between;
  }
  .tb__jc-evenly {
    justify-content: space-evenly;
  }
  .tb__jc-center {
    justify-content: center;
  }
  .tb__jc-end {
    justify-content: flex-end;
  }
  .tb__jc-start {
    justify-content: flex-start;
  }
  .tb__jc-unset {
    justify-content: unset;
  }
  .tb__ai-center {
    align-items: center;
  }
  .tb__ai-end {
    align-items: flex-end;
  }
  .tb__ai-start {
    align-items: flex-start;
  }
  .tb__ai-unset {
    justify-content: unset;
  }
}
@media (max-width: 767px) {
  .sp__flex {
    display: flex;
  }
  .sp__flow-column {
    flex-flow: column;
  }
  .sp__flow-wrap {
    flex-flow: wrap;
  }
  .sp__order-1 {
    order: 1;
  }
  .sp__jc-around {
    justify-content: space-around;
  }
  .sp__jc-between {
    justify-content: space-between;
  }
  .sp__jc-center {
    justify-content: center;
  }
  .sp__jc-end {
    justify-content: flex-end;
  }
  .sp__jc-start {
    justify-content: flex-start;
  }
  .sp__jc-unset {
    justify-content: unset;
  }
  .sp__ai-center {
    align-items: center;
  }
  .sp__ai-end {
    align-items: flex-end;
  }
  .sp__ai-start {
    align-items: flex-start;
  }
  .sp__ai-unset {
    justify-content: unset;
  }
}
.inner {
  margin: 0 auto;
  width: auto;
  max-width: 1045px;
  padding: 0;
}

@media (max-width: 767px) {
  .inner {
    width: auto;
    padding: 0 2rem;
  }
}
/*main{overflow: hidden;}
@media screen and (min-width: 768px){
  .sp{display: none;}
}
@media screen and (max-width: 767px){
  html,body{font-size: calc(10 * (100vw / 750));}
  .pc{display: none;}
  .sp{display: block;}
}
@media screen and (min-width: 768px) and (max-width: 1240px){
  html,body{font-size: calc(10 * (100vw / 1240));}
} */
/* common text size */
/* p{
  font-size: 1.6rem;
  line-height: 2;
  letter-spacing: 0.02em;
}
span{
  font-size: 1.6rem;
  line-height: 2;
  letter-spacing: 0.02em;
}
h2{
  font-size: 1.6rem;
  letter-spacing: 0.02em;
}
.lead{
  font-size: 2.4rem;
  letter-spacing: 0.02em;
}
.txt{
  font-size: 1.8rem;
  letter-spacing: 0.02em;
} */
/* common animation ///////////////////////////////////////////////*/
.js-focus {
  opacity: 0;
}

.focus-in {
  animation: focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
.js-u-fade {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.1s cubic-bezier(0.5, 1, 0.89, 1), transform 0.3s cubic-bezier(0.5, 1, 0.89, 1);
}

.js-r-fade {
  transform: translateX(60px);
  opacity: 0;
  transition: opacity 0.1s cubic-bezier(0.5, 1, 0.89, 1), transform 0.3s cubic-bezier(0.5, 1, 0.89, 1);
}

.js-l-fade {
  transform: translateX(-60px);
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.5, 1, 0.89, 1), transform 0.3s cubic-bezier(0.5, 1, 0.89, 1);
}

.fade-in {
  opacity: 1;
  transform: translate(0);
}

.js-spin {
  transform: rotateY(-450deg);
  transition-duration: 0.8s;
  will-change: transform;
  opacity: 0;
}
.js-spin.spin {
  transform: rotateY(0deg);
  opacity: 1;
}

@keyframes anm_coin {
  0% {
    transform: rotateY(-450deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0deg);
    opacity: 1;
  }
}
/* txt overflow animation */
/* js-m-txt wrapping to maskElem */
.js-m-txt {
  overflow: auto;
}
.js-m-txt .maskElem-y {
  transform: translateY(120%);
  display: block;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}
.js-m-txt .maskElem-x {
  transform: translateX(-120%);
  display: block;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}

@keyframes mask {
  100% {
    transform: translate(0);
  }
}
.mask.animated .maskElement-y,
.mask.animated .maskElement-x {
  animation: mask cubic-bezier(0.86, 0, 0.07, 1) forwards;
  animation-duration: 1.5s;
  overflow: hidden;
}

/* images overflow animation */
.js-m-img {
  clip-path: inset(0 100% 0 0);
  /* display: inline-block; */
  transition: 1.5s 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  transition-property: clip-path;
}
.js-m-img.center {
  clip-path: inset(0 100% 100% 0);
}
.js-m-img.animated {
  clip-path: inset(0);
}

/* /////////////////////////////////////////////// */
/* ///////////////////// common ///////////////////////*/
header {
  position: relative;
  height: 100vh;
  background-image: url(../../assets/Image/Top_bg_Mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}
header.hide {
  transform: translateY(-100%);
}

.headerBox {
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#global_nav ul {
  display: flex;
  margin-top: 2.5rem;
  align-items: center;
}
#global_nav ul li {
  font-size: 1.4rem;
}
#global_nav ul li a {
  font-weight: bold;
}
#global_nav ul li:last-of-type {
  margin-right: 2.8vw;
  position: relative;
}
#global_nav ul li:not(last-of-type) {
  margin-right: 1.3020833333vw;
}

@media screen and (max-width: 767px) {
  .gnavi {
    position: fixed;
    top: 4rem;
    right: 3rem;
    width: 6rem;
    height: 4.8rem;
    z-index: 3;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }
  .gnavi nav {
    position: fixed;
    top: 0;
    right: -630px;
    height: 100%;
    padding-top: 5rem;
    background: #c7ffd7;
    box-sizing: border-box;
    z-index: 10;
    width: 100%;
  }
  .gnavi .jsHumb {
    position: absolute;
    width: 6rem;
    height: 0.8rem;
    background: #fff;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
    z-index: 300;
  }
  .gnavi .jsHumb:nth-of-type(1) {
    top: 2%;
  }
  .gnavi .jsHumb:nth-of-type(2) {
    top: 40%;
  }
  .gnavi .jsHumb:nth-of-type(3) {
    top: 80%;
  }
  .gnavi.open .jsHumb {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    top: 20%;
    background-color: #fff !important;
  }
  .gnavi.open .jsHumb:nth-of-type(2) {
    display: none;
  }
  .gnavi.open .jsHumb:nth-of-type(3) {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
  }
  #global_nav ul {
    display: block;
  }
  #global_nav ul li {
    margin-top: 10rem;
    width: auto;
    height: 4rem;
    display: block;
    text-align: center;
  }
  #global_nav ul li:last-of-type {
    background-color: transparent;
    overflow: unset;
  }
}
.color_g {
  color: #089A89;
}

.sec_ttl {
  text-align: center;
  margin-top: 100px;
}

.sec_subttl {
  font-size: 2rem;
}

.main {
  height: 100vh;
}

.main {
  height: 100vh;
  text-align: center;
  position: relative;
}
.main div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.main .main_ttl {
  font-size: 5rem;
  margin-bottom: 20px;
}
.main .main_txt {
  font-size: 2.4rem;
  line-height: 30px;
}

.sec_img_concept {
  width: 200px;
  margin: 0 auto;
}

.concept_inner {
  max-width: 635px;
  margin: 0 auto;
  width: 100%;
}

.concept_ttl {
  margin: 50px 0 20px;
  font-size: 3rem;
  line-height: 40px;
}

.concept_txt {
  position: relative;
  font-size: 2rem;
  line-height: 40px;
  padding-bottom: 200px;
}

.concept_img {
  position: absolute;
  top: 20px;
  right: -300px;
}

.cure {
  position: relative;
  padding: 10px 0 115px;
  background-color: #EBEBEB;
}

.sec_img_cure {
  width: 452px;
  margin: 0 auto 5px;
}

.cure_item {
  width: 700px;
  margin: 5px;
  flex-shrink: 0;
  background: #fff;
  border-radius: 10px;
  padding: 23px 50px;
}
.cure_item .cure_imgBox img {
  width: 199px;
  height: 240px;
}
.cure_item .cure_imgBox p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.cure_txtBox {
  margin-left: 40px;
}
.cure_txtBox .cure_ttl {
  font-size: 2rem;
  line-height: 25px;
}
.cure_txtBox .cure_txt {
  font-size: 1.4rem;
  line-height: 20px;
}

.cure_plan {
  display: inline-block;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.4em;
  padding: 8px 23px;
  border-radius: 30px;
  background: #089A89;
  margin-bottom: 10px;
}

.scroll_content {
  /* リスト全体のスタイル */
  display: flex;
  width: 100%;
  margin: 30px auto;
  overflow-x: auto;
}

.scroll_content li {
  /* 各リストのスタイル */
  padding: 8px;
  margin: 3px;
  flex-shrink: 0;
  list-style: none;
}

.scroll_content img {
  /* 画像のスタイル */
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.cure_img_item {
  position: absolute;
  left: 30%;
  bottom: 0;
  line-height: 0;
  width: 210px;
}/*# sourceMappingURL=top.css.map */